.funnel-sans {
    font-family: "Funnel Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  .pfp {
    width: 350px;
  }

  body {
    background-color: rgba(0, 128, 0, 0.5);
  }

  a {
    color: darkmagenta;
  }